In [1]:
import os
os.chdir("../")
%pwd

'd:\\Ai_AWS_ML\\Projects\\Movie_Recommendation_system'

In [2]:
import pandas as pd
from src.data.preprocess import load_data, merge_datasets, clean_genres_keywords, clean_cast, fetch_director
from src.utils.helpers import remove_null_values, split_overview, remove_spaces

In [3]:
# Load data
movies, credits = load_data("./data/raw/tmdb_5000_movies.csv", "./data/raw/tmdb_5000_credits.csv")
movies = merge_datasets(movies, credits)

In [4]:
# Preprocessing
movies = movies[['id', 'title', 'overview', 'genres', 'keywords', 'cast', 'crew']]
remove_null_values(movies)
clean_genres_keywords(movies, 'genres')
clean_genres_keywords(movies, 'keywords')
clean_cast(movies)
fetch_director(movies)

In [5]:
split_overview(movies)
remove_spaces(movies, ['genres', 'keywords', 'cast', 'crew'])

In [6]:
movies['tags'] = movies['overview'] + movies['genres'] + movies['keywords'] + movies['cast'] + movies['crew']
movies = movies[['id', 'title', 'tags']]

In [7]:
movies.to_hdf('data.h5', key='movies', mode='w')

C:\Users\Ahmad\AppData\Local\Temp\ipykernel_23024\3359857846.py:1: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->mixed,key->block1_values] [items->Index(['title', 'tags'], dtype='object')]

  movies.to_hdf('data.h5', key='movies', mode='w')

In [11]:
import pickle

pickle.dump(movies.to_dict(), open('./data/processed/movies_dict.pkl', 'wb'))

In [13]:
movies

,id,title,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili..."
...,...,...,...
4804,9367,El Mariachi,"[El, Mariachi, just, wants, to, play, his, gui..."
4805,72766,Newlyweds,"[A, newlywed, couple's, honeymoon, is, upended..."
4806,231617,"Signed, Sealed, Delivered","[""Signed,, Sealed,, Delivered"", introduces, a,..."
4807,126186,Shanghai Calling,"[When, ambitious, New, York, attorney, Sam, is..."
4808,25975,My Date with Drew,"[Ever, since, the, second, grade, when, he, fi..."